{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>ALOHA OFFICIAL - Contact</title>
<!--

Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="{% url 'contentapp:demo' %}" class="navbar-brand">ALOHA OFFICIAL</a>
               <div>
                    <h5>Creativity meets Technology</h5>
               </div>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'contentapp:demo' %}">Home</a></li>
                    <li><a href="{% url 'contentapp:about' %}">About</a></li>
                    <li><a href="{% url 'contentapp:gallery' %}">Portfolio</a></li>
                    <li class="active"><a href="{% url 'contentapp:contact' %}">Contact</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-contact parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Contact Us</h1>
               </div>

          </div>
     </div>
</section>

<!-- Contact Section -->

<section id="contact">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h2>We would love to hear from you!</h2>
                    <h3>Contact Us Today</h3>
                    <h5>Have a query regarding our services, pricing, or want to reach out to us ?</h5>
<!--                    <form action="#" method="post">-->
<!--                         <div class="col-md-4 col-sm-4">-->
<!--                              <input name="name" type="text" class="form-control" id="name" placeholder="Name">-->
<!--                         </div>-->
<!--                         <div class="col-md-4 col-sm-4">-->
<!--                              <input name="email" type="email" class="form-control" id="email" placeholder="Email">-->
<!--                      	 </div>-->
<!--                         <div class="col-md-4 col-sm-4">-->
<!--                              <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">-->
<!--                      	 </div>-->
<!--                         <div class="col-md-12 col-sm-12">-->
<!--                              <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>-->
<!--                         </div>-->
<!--                         <div class="col-md-3 col-sm-6">-->
<!--                              <input name="submit" type="submit" class="form-control" id="submit" value="Send">-->
<!--                         </div>-->
<!--                    </form>-->
                    <h2>Address</h2>
                    <h5>92 Gascoigne Rd 92 Gascoigne Rd, New Addington, Croydon CR0 0NE, UK</h5>
                    <h2>For content requirement call:</h2>
                    <h5> +447769007663</h5>
                    <h2>Drop an Email at:</h2>
                    <h5>reshmaravis1214@gmail.com</h5>
                    <br>
                    <div>
                    <div>
                         <div>
                              <h2 style="color:red;">SERVICES</h2>
                    <h3>Blogs</h3>
                    <h3>Articles & Blogs</h3>
                    <h3>Copywriting</h3>
                    <h3>Technical Writing</h3>
                    <h3>Website Contents</h3>
                         </div>
                    </div>
                         </div>
               </div>

          </div>
     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>ALOHA OFFICIAL</h3>
                    <div>
                         <h5>Creativity meets Technology</h5>
                    </div>
                    <p>Our cost-effective and wide range of content writing services help a business to grow and become successful.</p>
                    <div class="footer-copyright">
                         <p>Suneeth/Web/Development</p>
                    </div>

               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Talk to us</h3>
                    <p><i class="fa fa-globe"></i>92 Gascoigne Rd 92 Gascoigne Rd, New Addington, Croydon CR0 0NE, UK</p>
                    <p><i class="fa fa-phone"></i> +447769007663</p>
                    <p><i class="fa fa-save"></i>reshmaravis1214@gmail.com</p>
               </div>


               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="##" class="fa fa-facebook"></a></li>
                         <li><a href="##" class="fa fa-twitter"></a></li>
                         <li><a href="##" class="fa fa-google-plus"></a></li>
                         <li><a href="##" class="fa fa-dribbble"></a></li>
                         <li><a href="##" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>
               
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>